html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="icon" href="/images/logo2.svg")
    title Horsepower
    //- Include the JavaScript libraries
    script(src=`${hpsrc}`)
    script(async, src='/js/fontawesome-all.min.js')
    script(async, src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/prism.min.js')
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2834242581482228",
            enable_page_level_ads: true
      });
    //- Include the css
    link(async, rel="stylesheet", href="/css/pure.css")
    link(async, rel="stylesheet", href="/css/main.css")
    link(async, rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/themes/prism.min.css")
    //- Include the website JavaScript
    script(src="/js/main.js")
  if path == '/'
    body.white
  else
    body.blue-header

  header
    nav.pure-container
      .pure-navbar
        .pure-navbar--brand
          a(href="/"): img(src="/images/logo2.svg", alt="Horsepower Logo")
        .pure-navbar--menu
          a.pure-navbar--item(href='/getting-started') Getting Started
          a.pure-navbar--item(href='/docs') Documentation
          a.pure-navbar--item Components
          a.pure-navbar--item Examples
        .pure-navbar--burger
          a: i.fal.fa-bars
  main
    block content
  footer
    .pure-container.pure-padding--5rem
        h1.is-size-1 Footer