$i: 0;

@while $i < 200 {
  // @for $i from 1 through 100 {
  .pure-margin--#{$i} {
    margin: 0px + $i;
  }

  .pure-margin--#{$i}_rem {
    margin: 0rem + $i;
  }

  .pure-margin--#{$i}_em {
    margin: 0rem + $i;
  }
  $i: $i+5;
}