.pure-section {
  min-height: 100vh;
  margin: 0;
}

.pure-block {
  width: 100%;
  padding: 2rem;
  margin: 0;

  & p:last-child {
    margin-bottom: 0;
  }
}

.pure-block-medium {
  width: 100%;
  padding: 4rem;
  margin: 0;

  & p:last-child {
    margin-bottom: 0;
  }
}

.pure-block-large {
  width: 100%;
  padding: 8rem;
  margin: 0;

  & p:last-child {
    margin-bottom: 0;
  }
}