////////////////////////////////////////////////////////////////////////////////
/// Text alignment
////////////////////////////////////////////////////////////////////////////////
.pure-text--align-left {
  text-align: left;
}

.pure-text--align-right {
  text-align: left;
}

.pure-text--align-justify {
  text-align: justify;
}

.pure-text--align-center {
  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
/// Text casing
////////////////////////////////////////////////////////////////////////////////
.pure-text--case-lower {
  text-transform: lowercase;
}

.pure-text--case-upper {
  text-transform: uppercase;
}

.pure-text--case-capital {
  text-transform: capitalize;
}

////////////////////////////////////////////////////////////////////////////////
/// Text weight and style
////////////////////////////////////////////////////////////////////////////////

.pure-text--weight-normal {
  font-weight: 300;
}

.pure-text--weight-bold {
  font-weight: 500 !important;
}

.pure-text--italic {
  font-style: italic;
}

////////////////////////////////////////////////////////////////////////////////
/// Font size
////////////////////////////////////////////////////////////////////////////////
.pure-text--size-large {
  font-style: 1.5rem;
}

.pure-text--size-small {
  font-style: 0.8rem;
}