////////////////////////////////////////////////////////////////////////////////
/// Typography
////////////////////////////////////////////////////////////////////////////////
$core-font-size: 16px !default;
$core-font-weight: 300 !default;
$core-letter-spacing: 1px !default;
////////////////////////////////////////////////////////////////////////////////
/// Colors
////////////////////////////////////////////////////////////////////////////////
$color-lighten-darken-count: 10 !default;
$lighten-darken-multiplier: 4 !default;
// $primary-color: #2196f3 !default;
$primary-color: #1771cd !default;
$secondary-color: #e91e63 !default;
$dark-gray: #aaaaaa !default;
$light-gray: #eeeeee !default;
$additional-colors: (
  '.red': #f44336, '.pink': #e91e63, '.purple': #9c27b0, '.deep-purple': #673ab7, '.indigo': #3f51b5, '.blue': #2196f3, '.light-blue': #03a9f4, '.teal': #009688, '.green': #4caf50, '.light-green': #8bc34a, '.lime': #cddc39, '.yellow': #ffeb3b, '.amber': #ffc107, '.orange': #ff9800, '.deep-orange': #ff5722, '.brown': #795548
) !default;


////////////////////////////////////////////////////////////////////////////////
/// Device size breakpoints
////////////////////////////////////////////////////////////////////////////////
$breakpoint-tablet: 1000px !default;
$breakpoint-phone: 500px !default;

////////////////////////////////////////////////////////////////////////////////
/// Layout default values
////////////////////////////////////////////////////////////////////////////////
$grid-columns: 12 !default;
$grid-padding: 8px !default;
$cell-margin: 8px !default;

////////////////////////////////////////////////////////////////////////////////
/// Card default values
////////////////////////////////////////////////////////////////////////////////
$card-padding: 10px !default;

////////////////////////////////////////////////////////////////////////////////
/// Misc
////////////////////////////////////////////////////////////////////////////////
$box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 2px rgba(0, 0, 0, 0.2);