// @import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');

* {
  box-sizing: border-box;
  // font-family: 'Roboto', sans-serif;
  outline: none;
}

.blue {
  background-color: #2196f3;
}

.blue-header {
  background: linear-gradient(145deg, rgb(13, 71, 161), #2196f3 200vh);
}

.blue-text {
  color: #2196f3;
}

.white-text {
  color: #ffffff;
}

.hidden {
  display: none;
}

html {
  overflow-y: auto;
}

body {
  padding: 0;
  margin: 0;
}

.section-block {
  min-height: 100vh;
}

main {
  .hero {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 600px;
    box-sizing: border-box;
    transform: skewY(8deg);
    transform-origin: 100% center 0px;
    padding: 48px 48px 32px;
    overflow: hidden;
    z-index: -1;
    margin-top: -55px;
    margin-bottom: 10vh;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;

    img {
      height: 41vh;
      margin-top: 10vh;
      position: relative;
      z-index: 10;
    }

    .horse-shadow {
      background: rgba(0, 0, 0, 0.5);
      width: 500px;
      height: 10px;
      position: relative;
      border-radius: 100%;
      filter: blur(15px);
    }
  }
}

.pure-tabs.getting-started {
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0;

  li {
    min-width: 20vw;
    max-width: 20vw;
    height: 130px;
    padding: 1rem;
    background-color: #ffffff;
    white-space: initial;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;

    &.active {
      height: 150px;
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    &:not(.active) {
      background-color: rgba(0, 0, 0, 0.2);

      h2 {
        color: #ffffff;
      }

      p {
        color: #a3daff;
      }
    }

    p {
      color: #868e96;
    }
  }
}

.getting-started-spacer {
  background: #fff;
  padding-top: 3rem;
}

.getting-started-items {
  background-color: #495057;
}

.about {
  .pure-col:nth-child(2) {
    text-align: center;
  }

  .pure-col:nth-child(3) {
    text-align: right;

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: #4a4a4a;

      :first-child {
        margin-right: 1rem;
      }
    }
  }
}
// }

// .card.about {
//   .columns {
//     .column {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;

//       &:nth-child(2) {
//         text-align: center;
//       }

//       &:nth-child(3) {
//         text-align: right;

//         a {
//           display: flex;
//           flex-direction: row;
//           justify-content: flex-end;
//           align-items: center;
//           color: #4a4a4a;

//           :first-child {
//             margin-right: 1rem;
//           }
//         }
//       }
//     }
//   }
// }

// .navbar {
//   background: transparent;
//   position: absolute;
//   width: 100%;
//   z-index: 1000;

//   a.navbar-link,
//   a.navbar-item {
//     color: #ffffff;
//     letter-spacing: 1px;
//     text-transform: uppercase;

//     &:hover {
//       color: #bed6eb;
//       background: transparent;
//     }
//   }

//   .navbar-brand {
//     img {
//       height: 50px;
//     }
//   }
// }

footer {
  background: #495057;
  color: #ffffff;
}