@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');
@import 'framework/variables';

* {
  box-sizing: border-box;
}

:root {
  font-size: $core-font-size;
  font-weight: $core-font-weight;
  font-family: 'Roboto', sans-serif;
  letter-spacing: $core-letter-spacing;
}

body {
  padding: 0;
  margin: 0;
  color: #4a4a4a;

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

a {
  color: $secondary-color;
  text-decoration: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  display: inline-block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

// Import all of the components
@import 'framework/components/breadcrumbs';
@import 'framework/components/button';
@import 'framework/components/card';
@import 'framework/components/input';
@import 'framework/components/layout';
@import 'framework/components/list';
@import 'framework/components/pagination';
@import 'framework/components/progress';
@import 'framework/components/step';
@import 'framework/components/table';
@import 'framework/components/tooltip';
@import 'framework/components/navbar';
@import 'framework/components/tabs';

// Import all of the utilities
@import 'framework/utility/divider';
@import 'framework/utility/depth';
@import 'framework/utility/color';
@import 'framework/utility/text';
@import 'framework/utility/code';
@import 'framework/utility/padding';
@import 'framework/utility/margin';
@import 'framework/utility/section';
@import 'framework/utility/header';