.pure-nav {
  position: relative;

  &.pure-nav--fixed {
    & > ul {
      position: sticky;
      top: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    position: relative;

    ul {
      & > li {
        padding-left: 1em;

        & > a {
          font-weight: 300;
        }
      }
    }

    li {
      &.pure-nav--active {
        & > a {
          svg {
            transform: rotate(90deg);
          }
        }

        & > ul {
          display: block;
        }
      }

      & > ul {
        display: none;
      }

      & > a {
        &:hover {
          background-color: $light-gray;
        }
        display: flex;
        padding: 0.3rem;
        font-weight: 500;
        flex-direction: row;

        svg {
          transition: transform 0.2s ease-in-out;
        }

        :last-child {
          margin-left: auto;
        }
      }
    }
  }
}