ul.pure-pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;

  &.pure-pagination--left {
    justify-content: flex-start;
  }

  &.pure-pagination--right {
    justify-content: flex-end;
  }

  & > li {
    padding: 0;
    margin: 0;
    display: inline-flex;

    &.pure-pagination--active {
      & > a,
      & > a:hover {
        color: #ffffff;
        background-color: $secondary-color;
        pointer-events: none;
      }
    }

    &.pure-pagination--disabled {
      & > a,
      & > a:hover {
        color: $dark-gray;
        background-color: transparent;
        pointer-events: none;
      }
    }

    & > a {
      padding: 0.4rem 0.8rem;
      text-align: center;
      line-height: 1rem;

      &:hover {
        background: $light-gray;
      }
    }
  }
}