h2 Introduction
div.pure-block
  h3: a(href='/demo' target='_blank') Final Result
div.pure-block
  p In this tutorial we will cover the basics of Horsepower, and by the end of the tutorial you should have learned the following:
  ol
    li How to observer the contents of the document by attaching components to elements
    li How to use templates to easily display data within a container
    li How to modify the data to automatically update the template on the fly
    li How to send messages to elements by utilizing one of the broadcast methods
    li How to find items relative to the current component
  p Once you have completed this tutorial you will have created #[a(href='/demo') this] example.