extends /main

block content
  section.pure-section.pure-padding--5_rem
    .pure-container.pure-container--vertical
      h1.white-text Installation
      ul.pure-tabs.getting-started
        li.active(data-target="#getting-started-cdn")
          h2.title CDN
          p Use a CDN to speed up the loading time of your application.
        li(data-target="#getting-started-npm")
          h2.title NPM
          p Host the JavaScript on your own server.
      .getting-started-spacer
      .getting-started-items
        .item.white-text.pure-padding--5_rem#getting-started-cdn
          h2.title.white-text #[a.copy.white-text(data-target='#copy-cdn' data-tooltip='Copy code') #[i.fas.fa-clipboard]] CDN
          pre#copy-cdn= '<script src="https://cdn.horsepowerjs.com/latest/hp.min.js"></script>'
        .item.white-text.hidden.pure-padding--5_rem#getting-started-npm
          h2.title.white-text #[a.copy.white-text(data-target='#copy-npm' data-tooltip='Copy code') #[i.fas.fa-clipboard]] NPM
          pre#copy-npm= 'npm install horsepower --save'
  section.pure-section.white
    .container
      h1.is-size-1 Usage