extends /main

block content
  main.section-block
    .hero.blue-header
    .heading
      img(src="/images/logo2.svg", alt="Horsepower Logo")
      .horse-shadow
      //- h1.is-size-1 Event drivin framework
    section.section
      .container
        .card.about
          .card-content.columns
            .column.is-one-third.is-size-3: div ~10kb when gzipped
            .column.is-one-third.is-size-3: div Message driven framework
            .column.is-one-third.is-size-3: div
              a(href='https://github.com/horsepowerjs/horsepower' target='_blank')
                span GitHub
                i.fab.fa-github.is-size-1