extends /main

block content
  main.section-block
    .hero.blue-header
    .heading
      img(src="/images/logo2.svg", alt="Horsepower Logo")
      .horse-shadow
      //- h1.is-size-1 Event drivin framework
    section.section.white
      .pure-container
        .pure-card.about.pure-row.pure-row--vertical_center
          .card-content.pure-row
            .pure-col.pure-col--4: h3.pure-margin--0 ~10kb when gzipped
            .pure-col.pure-col--4: h3.pure-margin--0 Message driven framework
            .pure-col.pure-col--4: h3.pure-margin--0
              a(href='https://github.com/horsepowerjs/horsepower' target='_blank')
                span GitHub
                i.fab.fa-github.is-size-1